<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="SMEConnection" connectionString="Data Source=81.142.121.133;Initial Catalog=SMECore;uid=SMECoreWebuser;pwd=N2xHp74b3G87t24yK6jI9rqUe" providerName="System.Data.SqlClient" />
    <add name="SMECoreEntities" connectionString="metadata=res://*/Context.SMECore.csdl|res://*/Context.SMECore.ssdl|res://*/Context.SMECore.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=81.142.121.133;initial catalog=SMECore;user id=SMECoreWebuser;password=N2xHp74b3G87t24yK6jI9rqUe;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

	  <add name="SMEConnection" connectionString="Data Source=192.168.223.101;Initial Catalog=SMECore;uid=smecore;pwd=smecore" providerName="System.Data.SqlClient" />
	  <add name="SMECoreEntities" connectionString="metadata=res://*/Context.SMECore.csdl|res://*/Context.SMECore.ssdl|res://*/Context.SMECore.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.223.101;initial catalog=SMECore;user id=smecore;password=smecore;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    
    
    
	  
  </connectionStrings>
  <appSettings>
    <add key="ExportFolder" value="C:\Exports" />
    <add key="ReportServerURL" value="http://127.0.0.1/ReportServer/" />
    <add key="ReportFolder" value="/AdminReport/" />
    <add key="RSUserName" value="ReportServerUser" />
    <add key="RSDomain" value="LIANG-PC" />
    <add key="RSPassword" value="N2xHp74b3G87t24yK6jI9rqUe" />
  </appSettings>
  <system.web>
    <httpHandlers>
      <add verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" defaultUrl="~/Default.aspx" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="false" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControl" path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
  </system.webServer>
  <location path="~/Account/Login.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="styles">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="scripts">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
</configuration>